:root {
  --acm-primary-color: #eb5757;
  --acm-primary-dark: #222;
  --acm-snow-white: #f9f9f9;
  --acm-grey-light: #ccc;
  --acm-smoke-white: #e2e2e2;
  --acm-bold-grey: #888;
  --acm-orange-light: #ff905a;
}
