@import "./theme.config";
@import "./mixins";
@import "./bootstrap-overide";

.product_list_item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.product_item_wrapper {
  overflow: hidden;
}

.product_item_wrapper a {
  width: 100%;
  text-decoration: none;
}

.product_image {
  position: relative;
  min-height: 500px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  & .product_badge {
    color: var(--acm-snow-white);
    position: absolute;
    left: auto;
    top: 4%;
    right: 2%;
    bottom: auto;
    border-radius: 0.5rem;
    background-color: var(--acm-primary-color);
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 0.8rem;
    padding: 0.4rem 1.4rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #00000002, #00000096);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }

  &:hover::before {
    visibility: visible;
    opacity: 1;
  }
}

.product_details_wrapper {
  text-align: center;
  color: var(--acm-primary-dark);
}

.product_details {
  & h5 {
    font-weight: bold;
  }
}
.product_price_wrapper {
  & p {
    font-size: 0.8rem;
    font-weight: 700;

    & span {
      color: var(--acm-primary-color);
      text-decoration: line-through;
      margin-left: 0.6rem;
    }
  }
}

.shop_btn_wrapper {
  width: 50%;
  margin: 0 auto;
  & .shop_btn {
    @include acmeButton(var(--acm-snow-white), var(--acm-primary-color));

    &:hover {
      @include acmeButtonHover(var(--acm-snow-white), var(--acm-primary-dark));
    }
  }
}

.explore_btn_wrapper {
  text-align: center;
  margin-top: 3rem;
  & .shop_btn {
    @include acmeButton(var(--acm-snow-white), var(--acm-primary-dark));
    padding: 0.6rem 2.6rem;

    &:hover {
      @include acmeButtonHover(var(--acm-snow-white), var(--acm-primary-color));
    }
  }
}

.product_list_style {
  & .product_image {
    min-height: 360px;
  }

  & .shop_btn_wrapper {
    width: 100%;
  }
}

.category-active {
  background-color: var(--acm-primary-color) !important;
  color: var(--acm-snow-white) !important;
  border-color: var(--acm-primary-color) !important;
}

@media (max-width: 992px) {
  .product_list_item {
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: 768px) {
  .product_list_item {
    grid-template-columns: 1fr;
  }
}
