.title_section {
  background-color: var(--acm-primary-dark);
  color: var(--acm-snow-white);
  padding: 2.6rem 0;

  & h1 {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .title_section {
    padding: 1.8rem 0;
    & h1 {
      font-size: 1.6rem;
    }
  }
}
